ncurses_colors.png
src/*.out
src/*.o
src/*.gch
src/.*.gch
src/version.h
src/*.log
src/main
src/Hangman
test/main_test
test/mockplayer
test/*.a
test/*.out
test/*.o
test/*.gch
test/.*.gch
test/docker
docker
.dockerignore
